{% extends "base.html" %}
{% block title %}ANIMES{% endblock title %}
{% block main %}
<h1 class="text-center">Animes</h1>
<div class="container mt-4">
    <div class="row">
      {% for x in animes %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="thumbnail">
          <a href="{% url "anime_vid" x.id %}"><img src="{{x.aimage.url}}" alt="Thumbnail" class="img-fluid"></a>
          <div class="pt-2">
            <h5 class="mb-1">{{x.atitle}}</h5>
            <a href="{% url "category_sp" x.acategory %}"><p class="text-muted mb-1">{{x.acategory}}</p></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock main %}