{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block main %}

<div class='container'>
    <div class='row'>

        {% if Content_dataa %}
            {% for x in Content_dataa %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="thumbnail">
                        <a href="{% url "video" x.id x.category %}"><img src="{{ x.image.url }}" alt="Thumbnail" class="img-fluid"></a>
                        <div class="pt-2">
                            <h5 class="mb-1">{{ x.title }}</h5>
                            <a href="{% url 'category_sp' x.category %}"><p class="text-muted mb-1">{{ x.category }}</p></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    

        {% if Category_data %}
            {% for x in Category_data %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="thumbnail">
                        <a href="{% url 'category_sp' x.name %}"><img src="{{ x.img.url }}" alt="Thumbnail" class="img-fluid"></a>
                        <div class="pt-2">
                            <h5 class="mb-1">{{ x.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if not Movies_data and not animes_data and not Content_dataa and not Category_data %}
            <div class="alert alert-danger" role="alert">
                Oops, check your input.
            </div>
        {% endif %}
    </div>
</div>

{% endblock main %}
