{% extends "base.html" %}
{% block title %}HOME{% endblock title %}
{% block main %}
<h1 class="text-center mt-3">{{category_name.name}}</h1>

<div class="container mt-4">
    <div class="row">
      {% for x in Fvideo %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="thumbnail">
          <a href="{% url "video" x.id %}"><img src="{{x.image.url}}" alt="Thumbnail" class="img-fluid"></a>
          <div class="pt-2">
            <h5 class="mb-1">{{x.title}}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock main %}